:root {
  /* --body-color: #b63e82;
  --app-color: #f5d5ed;
  --white-color: white; */
  /* --body-color: #009688;
  --app-color: #00968845;
  --white-color: white; */
  --body-color: #013042;
  --app-color: #EBC71C;
  --white-color: white;
  --main-border-raduis:9px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Creepster", cursive; */
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--body-color);
}
.app {
  width: 60%;
  min-width: 400px;
  margin: 100px auto;
  padding: 2%;
  background-color: white;
  border-radius: var(--main-border-raduis);
  color: var(--body-color);
}
.app h1 {
  border-bottom: 5px solid var(--app-color);
  font-size: 25px;
  padding-bottom: 20px;
}
.app .quiz h2.question {
  margin-top: 20px;
  font-size: 21px;
  letter-spacing: 1.3px;
}
.app .quiz .answers-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app .quiz .answer-btn {
  border-radius: var(--main-border-raduis);
  margin-top: 20px;
  text-align: start;
  padding: 10px 10px;
  outline: none;
  cursor: pointer;
  background: var(--white-color);
  font-size: 16px;
  border: 3px solid var(--app-color);
  color: var(--body-color);
}
.app .quiz .answer-btn.correct{
    background-color: #9aeabc;
    border: 3px solid transparent;
}
.app .quiz .answer-btn.incorrect{
    background-color: #ff9393;
    border:  3px solid transparent;
}
.app .quiz .answer-btn:disabled{
    cursor: not-allowed;
}
.app .quiz .answer-btn:hover:not([disabled]) {
  background-color: var(--app-color);
}
.app .quiz .control {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.app .quiz .control .next-btn {
  width: fit-content;
  cursor: pointer;
  padding: 8px 50px;
  background-color: var(--body-color);
  margin: 30px auto 0px;
  border-radius: var(--main-border-raduis);
  border: none;
  font-size: 17px;
  color: white;
  letter-spacing: 1.2px;
  display: none; /*Be hidden until select an answer*/
}
